<% for x in @current_crypto %>
    <% if @crypto.symbol.upcase == x['symbol'] %>
      <% @crypto_name = x['name'] %>
      <% @crypto_price = x['price_usd'] %>
    <% end %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= @crypto_name %></h2>
  </div>
  <div class="panel-body">

    <p>
      <strong>Cost paid per:</strong>
      $<%= @crypto.cost_per %>
    </p>

    <p>
      <strong>Amount owned:</strong>
      <%= @crypto.amount_owned %>
    </p>

    <p>
      <strong>Current price:</strong>
      $<%= @crypto_price %>
    </p>

  </div>

 <div class="panel-footer">

    <%= link_to 'Edit', edit_crypto_path(@crypto) %> |
    <%= link_to 'Delete Crypto Currency', crypto_path(@crypto), method: :delete, data: { confirm: 'Are you sure?' }, class: 'footer-highlight' %> |
    <%= link_to 'Back', cryptos_path %>

  </div>
</div>
